body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#game {
    width: 700px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    background-color: #ccc0b4;
    border: 12px solid #ccc0b4;
    border-radius: 8px;
}
#top-container {
    width: inherit;
    height: 60px;
    background-color: #ccc0b4;
}
#game-container {
    flex-grow: 1;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}
.cell {
    width: 25px;
    height: 25px;
    font-size: 16px;
    font-family: Arial;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}
input[type="text"] {
    width: 25px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    padding: 0;
    margin: 0;
}
.correct {
    background-color: lightgreen;
}
.incorrect {
    background-color: lightcoral;
}
#alphabet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.alphabet {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}
.alphabet:hover {
    background-color: #ccc;
}
.selected-character {
    background-color: #aaa;
    border: 2px solid #555;
    color: white;
}