body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
button:hover {
    transform: scale(1.1);
}
button:active {
    transform: translateY(4px);
}
#game {
    width: 700px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 5px;
    background-color: #ccc0b4;
}
#game-container {
    flex-grow: 1;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 10px;
}
.cell {
    width: 17px;
    height: 17px;
    font-size: 16px;
    font-family: Arial;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.cell-item {
    position: relative;
    display: inline-block;
}
.cell-number {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}
.number-above {
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
}
.number-left {
    top: 50%;
    right: 31px;
    transform: translateY(-50%);
}
.clue-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    flex: 1 0 18%;
}
.clue-number {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}
#clues-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 10px;
}
.clue-image {
    width: 68px;
    height: 68px;
    margin: 5px;
    border: 2px solid #aaa;
    border-radius: 8px;
    object-fit: contain;
}
input[type="text"] {
    width: 17px;
    height: 17px;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
    padding: 0;
    margin: 0;
}
.correct {
    background-color: lightgreen;
}
.incorrect {
    background-color: lightcoral;
}
#alphabet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.alphabet {
    width: 30px;
    height: 30px;
    margin: 3px;
    font-size: 16px;
    text-align: center;
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}
.alphabet:hover {
    background-color: #ccc;
}
.selected-character {
    background-color: #aaa;
    border: 2px solid #555;
    color: white;
}
#exit-button {
    z-index: 1;
    align-self: flex-start;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px transparent;
    font-family: arial black, sans-serif;
    background-color: red;
    box-shadow: 0 3px 5px black;
    font-size: 25px;
}
#help-button {
    z-index: 1;
    align-self: flex-start;
    position: absolute;
    top: 5px;
    left: 55px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px transparent;
    font-family: arial black, sans-serif;
    background-color: lightgreen;
    box-shadow: 0 3px 5px black;
    font-size: 25px;
}
#start-game-button {
    position: relative;
    border: 2px solid black;
    border-radius: 12px;
    width: 250px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
#tutorial-screen {
    position: absolute;
    width: 650px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border: 10px solid transparent;
    background: rgb(255,213,40);
    background: radial-gradient(circle, rgba(255,213,40,1) 0%, rgba(211,97,87,1) 100%);
    border-radius: 6px;
}
#tutorial-text {
    font-size: 25px;
    font-family: arial;
    font-weight: bold;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
}
.info-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    z-index: 10;
    max-width: 200px;
    word-wrap: break-word;
}
#check-answers-button {
    z-index: 1;
    position: absolute; 
    top: 5px; 
    right: 5px; 
    height: 40px; 
    width: 120px; 
    border-radius: 5px; 
    border: 2px solid #333; 
    font-family: Arial, sans-serif; 
    background-color: #4CAF50; 
    color: rgb(0, 0, 0);
    font-size: 16px; 
    cursor: pointer; 
}

#check-answers-button:hover {
    background-color: #45a049;
}
#menu-button {
    z-index: 1;
    position: absolute;
    top: 5px; 
    left: 105px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: gray;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#menu-button:hover {
    background-color: gray;
}

#menu-button:active {
    transform: scale(0.95);
}

#game-over-screen {
    opacity: 0;
    position: absolute;
    width: 700px;
    height: 650px;
    top: 5px;
    text-align: center;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: opacity 1s ease;
}
#game-over-screen.show {
    opacity: 1;
  }
#game-over-screen img[alt="red_ribon"] {
    width: 700px;
    height: 230px;
    margin-top: 160px;
    pointer-events: none;
}
#next-button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-image: linear-gradient(rgb(71, 175, 71),rgb(172, 84, 223));
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    margin: 15px;
}
#continue-playing {
    display: none;
    width: 200px;
    height: 60px;
    font-size: 20px;
    color: white;
    background: rgb(255,213,40);
    background: radial-gradient(circle, rgba(255,213,40,1) 0%, rgba(211,97,87,1) 100%);
    cursor: pointer;
    border-radius: 25px;
    margin: 15px;
}
#animation-container {
    z-index: 3;
    position: absolute;
    width: 650px;
    height: 700px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
#animation-container img {
    overflow-y: auto;
    position: relative;
    opacity: 0;
}
@keyframes fadeIn1 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(35px, -65px);
    }
}
@keyframes fadeIn2 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(20px, -80px);
    }
}
@keyframes fadeIn3 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(15px, -95px);
    }
}
@keyframes fadeIn4 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(10px, -100px);
    }
}
@keyframes fadeIn5 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(5px, -105px);
    }
}
@keyframes fadeIn6 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(40px, -105px);
    }
}
@keyframes fadeIn7 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(30px, -100px);
    }
}
@keyframes fadeIn8 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(25px, -95px);
    }
}
@keyframes fadeIn9 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(20px, -85px);
    }
}
@keyframes fadeIn10 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(15px, -75px);
    }
}
@keyframes fadeIn11 {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(-10px, -65px);
    }
}
.animate1 {
    animation: fadeIn1 1s ease 0.2s forwards;
}
.animate2 {
    animation: fadeIn2 1s ease 0.4s forwards;
}
.animate3 {
    animation: fadeIn3 1s ease 0.6s forwards;
}
.animate4 {
    animation: fadeIn4 1s ease 0.8s forwards;
}
.animate5 {
    animation: fadeIn5 1s ease 1s forwards;
}
.animate6 {
    animation: fadeIn6 1s ease 1.2s forwards;
}
.animate7 {
    animation: fadeIn7 1s ease 1.4s forwards;
}
.animate8 {
    animation: fadeIn8 1s ease 1.6s forwards;
}
.animate9 {
    animation: fadeIn9 1s ease 1.8s forwards;
}
.animate10 {
    animation: fadeIn10 1s ease 2s forwards;
}
.animate11 {
    animation: fadeIn11 1s ease 2.2s forwards;
}